@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500&display=swap");

html {
  scroll-behavior: smooth;
}

:root {
  --font: "Poppins", sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font);
  font-size: 1rem;
  line-height: 1.5;
  color: #333;
  background-color: white;
}

/*----------- Nav bar ----------*/

nav {
  position: sticky;
  width: 100%;
  height: 8rem;
  background-color: white;
  z-index: 1000;
}

.nav__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 8rem;
  background-color: white;
  padding: 30px 40px;
  padding-top: 3rem;
}

.nav__bar,
.nav__links,
li,
.home__btn,
.about__btn,
.projects__btn,
.contact__btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 4.5rem;
  background-color: #f4f4f4;
  border-radius: 4rem;
  padding: 0.35rem;
  gap: 1rem;
  list-style: none;
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
}

.home__btn {
  background-color: #f4f4f4;
  border-radius: 4rem;
  width: 7rem;
  height: 3.5rem;
  padding-right: 2rem;
  padding-left: 2rem;
  transition: 0.3s all ease-in-out;
}

.home__btn:hover {
  transform: scale(1.05);
  background-color: white;
  border-radius: 4rem;
  width: 7rem;
  height: 3.5rem;
  transform: scale(1.05);
  color: rgba(0, 0, 0, 0.555);
}

.about__btn {
  background-color: #f4f4f4;
  border-radius: 4rem;
  width: 7rem;
  height: 3.5rem;
  padding-right: 2rem;
  padding-left: 2rem;
  transition: 0.3s all ease-in-out;
}

.about__btn:hover {
  transform: scale(1.05);
  background-color: white;
  border-radius: 4rem;
  width: 7rem;
  height: 3.5rem;
  transform: scale(1.05);
  color: rgba(0, 0, 0, 0.555);
}

.projects__btn {
  background-color: #f4f4f4;
  border-radius: 4rem;
  width: 7rem;
  height: 3.5rem;
  padding-right: 2rem;
  padding-left: 2rem;
  transition: 0.3s all ease-in-out;
}

.projects__btn:hover {
  background-color: white;
  border-radius: 4rem;
  width: 7rem;
  height: 3.5rem;
  transform: scale(1.05);
  color: rgba(0, 0, 0, 0.555);
}

.contact__btn {
  background-color: #f4f4f4;
  border-radius: 4rem;
  width: 7rem;
  height: 3.5rem;
  padding-right: 2rem;
  padding-left: 2rem;
  transition: 0.3s all ease-in-out;
}

.contact__btn:hover {
  background-color: white;
  border-radius: 4rem;
  width: 7rem;
  height: 3.5rem;
  transform: scale(1.05);
  color: rgba(0, 0, 0, 0.555);
}

.switch__container {
  display: flex;
  float: right;
  gap: 1em;
  align-items: center;
  margin-left: 1rem;

  .switch {
    width: 75px;
    background: #2f2f2f;
    border-radius: 5em;
    display: flex;
    align-items: center;
    padding: 0.5em;
    cursor: pointer;

    .handle {
      border-radius: 50%;
      width: 30px;
      height: 30px;
      background: white;
      transition: transform 0.3s;
    }
  }
}

.move-right {
  transform: translateX(45px);
}

/*----------- Hero Section ----------*/

.hero__section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: white;
}

.hero__container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 18rem;
}

.hero__title {
  text-align: center;
  font-size: 4rem;
  font-weight: 500;
}

.hero__title span {
  color: rgba(65, 164, 240, 0.921);
  font-weight: 600;
  font-size: 4.5rem;
  cursor: pointer;
}

.hero__detail {
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  margin-top: 1rem;
}

.hero__detail span {
  color: rgba(65, 164, 240, 0.921);
  font-weight: 600;
  font-size: 2.2rem;
  cursor: pointer;
}

/*----------- Project Section ----------*/

.project__section {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: white;
}

.project__title {
  text-align: center;
  font-size: 6rem;
  font-weight: 600;
  margin-top: 5rem;
  padding: 1rem 1rem;
  border-radius: 4rem;
  color: rgba(65, 164, 240, 0.921);
  border: 1px solid rgba(65, 164, 240, 0.921);
  box-shadow: 10px 10px 0px 0 rgba(65, 164, 240, 0.921);
  transform-style: preserve-3d;
  transition: all 1s ease-in-out;
}

.project__title:hover {
  transform: rotateY(360deg);
  color: white;
  background-color: rgba(65, 164, 240, 0.921);
  border: 1px solid rgba(65, 164, 240, 0.921);
  box-shadow: 10px 10px 0px 0 white;
}

.project__container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  gap: 2rem;
}

.project__card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 25rem;
  height: 30rem;
  background-color: white;
  border: 3px solid rgba(254, 100, 100, 0.921);
  border-radius: 3rem;
  transition: all 0.3s ease-in-out;
}

.project__card:hover {
  transform: scale(1.1);
  border: 3px solid rgba(65, 164, 240, 0.921);
  box-shadow: 10px 10px 0px 0 rgba(65, 164, 240, 0.921);
}

.project__card__2 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 25rem;
  height: 30rem;
  background-color: white;
  border: 3px solid rgba(255, 165, 68, 0.921);
  border-radius: 3rem;
  transition: all 0.3s ease-in-out;
}

.project__card__2:hover {
  transform: scale(1.1);
  border: 3px solid rgba(65, 164, 240, 0.921);
  box-shadow: 10px 10px 0px 0 rgba(65, 164, 240, 0.921);
}

.project__card__3 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 25rem;
  height: 30rem;
  background-color: white;
  border: 3px solid rgb(47, 221, 160);
  border-radius: 3rem;
  transition: all 0.3s ease-in-out;
}

.project__card__3:hover {
  transform: scale(1.1);
  border: 3px solid rgba(65, 164, 240, 0.921);
  box-shadow: 10px 10px 0px 0 rgba(65, 164, 240, 0.921);
}
