@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500&display=swap");

html {
  scroll-behavior: smooth;
}

:root {
  --font: "Poppins", sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font);
  font-size: 1rem;
  line-height: 1.5;
  color: #333;
  background-color: white;
}

/*----------- Nav bar ----------*/

nav {
  width: 100%;
  height: 8rem;
  background-color: white;
  z-index: 1000;
}

.nav__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 8rem;
  background-color: white;
  padding: 30px 40px;
  padding-top: 3rem;
}

.nav__bar,
.nav__links,
li,
.home__btn,
.about__btn,
.projects__btn,
.contact__btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 4.5rem;
  background-color: #f8f8f8;
  border-radius: 4rem;
  padding: 0.35rem;
  gap: 1rem;
  list-style: none;
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
}

.home__btn {
  background-color: #f8f8f8;
  border-radius: 4rem;
  width: 7rem;
  height: 3.5rem;
  padding-right: 2rem;
  padding-left: 2rem;
  transition: 0.3s all ease-in-out;
}

.home__btn:hover {
  transform: scale(1.05);
  background-color: white;
  border-radius: 4rem;
  width: 7rem;
  height: 3.5rem;
  transform: scale(1.05);
  color: black;
}

.about__btn {
  background-color: #f8f8f8;
  border-radius: 4rem;
  width: 7rem;
  height: 3.5rem;
  padding-right: 2rem;
  padding-left: 2rem;
  transition: 0.3s all ease-in-out;
}

.about__btn:hover {
  transform: scale(1.05);
  background-color: white;
  border-radius: 4rem;
  width: 7rem;
  height: 3.5rem;
  transform: scale(1.05);
  color: black;
}

.projects__btn {
  background-color: #f8f8f8;
  border-radius: 4rem;
  width: 7rem;
  height: 3.5rem;
  padding-right: 2rem;
  padding-left: 2rem;
  transition: 0.3s all ease-in-out;
}

.projects__btn:hover {
  background-color: white;
  border-radius: 4rem;
  width: 7rem;
  height: 3.5rem;
  transform: scale(1.05);
  color: black;
}

.contact__btn {
  background-color: #f8f8f8;
  border-radius: 4rem;
  width: 7rem;
  height: 3.5rem;
  padding-right: 2rem;
  padding-left: 2rem;
  transition: 0.3s all ease-in-out;
}

.contact__btn:hover {
  background-color: white;
  border-radius: 4rem;
  width: 7rem;
  height: 3.5rem;
  transform: scale(1.05);
  color: black;
}

.switch__container {
  display: flex;
  justify-content: center;
  gap: 1em;
  align-items: center;
  margin-left: 1rem;
  position: absolute;
  left: 84%;

  .switch {
    width: 65px;
    background: #2f2f2f;
    border-radius: 5em;
    display: flex;
    align-items: center;
    padding: 0.5em;
    cursor: pointer;

    .handle {
      border-radius: 50%;
      width: 25px;
      height: 25px;
      background: white;
      transition: transform 0.3s;
    }
  }
}

.move-right {
  transform: translateX(35px);
}

.light {
  font-size: 0.8rem;
}

.dark {
  font-size: 0.8rem;
}

/*----------- Hero Section ----------*/

.hero__section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: white;
}

.hero__container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10rem;
}

.hero__title {
  text-align: center;
  font-size: 4rem;
  font-weight: 500;
}

.hero__title span {
  color: #41a4f0eb;
  font-weight: 600;
  font-size: 4.5rem;
  cursor: pointer;
}

.hero__detail {
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  margin-top: 1rem;
}

.hero__detail span {
  background: linear-gradient(
    to right,
    rgba(26, 129, 255, 0.921),
    rgba(100, 192, 254, 0.921),
    rgb(47, 117, 221)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  white-space: nowrap;
  font-weight: 600;
  font-size: 2.2rem;
  cursor: pointer;
}

.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.fa-brands {
  font-size: 2.3rem;
  color: black;
  transition: 0.3s all ease-in-out;
}

.fa-brands:hover {
  transform: scale(1.2);
  color: rgba(65, 164, 240, 0.921);
}

.resume__button {
  background-color: white;
  color: black;
  border-radius: 15rem;
  width: 6rem;
  height: 3.5rem;
  border-end-end-radius: 0;
  box-shadow: 10px 10px 10px 3px rgba(0, 0, 0, 0.1);
  transform: scale(1.08);
  font-size: 1.2rem;
  font-weight: 600;
  text-decoration: uppercase;
  transition: 0.3s all ease-in-out;
}

.resume__button:hover {
  width: 12rem;
  height: 4rem;
  border: none;
  background-color: rgba(65, 164, 240, 0.921);
  border-radius: 4rem;
  box-shadow: 10px 10px 10px 3px rgba(0, 0, 0, 0.1);
  border-end-end-radius: 4rem;
  margin-top: 2rem;
  color: white;
  font-size: 1.2rem;
}

.resume__button:active {
  transform: translateY(2px);
  border: 2px solid black;
  background-color: whitesmoke;
  color: black;
}

/* About Me Section */

#colorChangeSection {
  height: 100vh; /* Adjust as needed */
  transition: background-color 1s ease-in-out; /* Smooth transition for background color */
  background-color: white; /* Initial background color */
}

.about__section {
  height: 100vh;
  min-width: 100%;
  background-color: rgba(65, 164, 240, 0.921);
  padding: 3rem;
}

.about__grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr 2fr 2fr;
  gap: 1rem;
  height: 100vh;
}

/* about me  */

.about__container__1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  border-radius: 4rem;
  height: 25rem;
  width: 100%;
  border: 3px solid black;
  transition: all 0.3s ease-in-out;
}

.about__container__1:hover {
  border: 3px solid black;
  box-shadow: 10px 10px 0px 0 rgba(0, 0, 0, 0.921);
  width: 100%;
}

.gian,
img {
  border-radius: 50%;
  height: 20rem;
  width: 20rem;
  border: 1px solid black;
}

/* self taught */
.about__container__2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 4rem;
  height: 25rem;
  width: 100%;
  border: 3px solid black;
  transition: all 0.3s ease-in-out;
}

.about__container__2:hover {
  transform: scale(1.01);
  border: 3px solid black;
  box-shadow: 10px 10px 0px 0 rgba(0, 0, 0, 0.921);
}

/* skills */
.about__container__3 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 4rem;
  height: 18rem;
  width: 100%;
  border: 3px solid black;
  transition: all 0.3s ease-in-out;
}

.about__container__3:hover {
  transform: scale(1.01);
  border: 3px solid black;
  box-shadow: 10px 10px 0px 0 rgba(0, 0, 0, 0.921);
}

/* exprerience */
.about__container__4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 4rem;
  height: 18rem;
  width: 100%;
  border: 3px solid black;
  transition: all 0.3s ease-in-out;
}

.about__container__4:hover {
  transform: scale(1.01);
  border: 3px solid black;
  box-shadow: 10px 10px 0px 0 rgba(0, 0, 0, 0.921);
}

/*----------- Project Section ----------*/

.project__section {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: white;
}

.project__title {
  text-align: center;
  font-size: 6rem;
  font-weight: 600;
  margin-top: 5rem;
  padding: 1rem 1rem;
  border-radius: 4rem;
  color: rgba(65, 164, 240, 0.921);
  border: 3px solid rgba(65, 164, 240, 0.921);
  box-shadow: 10px 10px 0px 0 rgba(65, 164, 240, 0.921);
  transform-style: preserve-3d;
  transition: all 1s ease-in-out;
}

.project__title:hover {
  transform: rotateY(360deg);
  color: white;
  background-color: rgba(65, 164, 240, 0.921);
  border: 1px solid rgba(65, 164, 240, 0.921);
  box-shadow: 10px 10px 0px 0 white;
}

.project__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  gap: 2.5rem;
}

.project__card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 20rem;
  height: 25rem;
  background-color: white;
  border: 3px solid black;
  border-radius: 3rem;
  transition: all 0.3s ease-in-out;
}

.project__card:hover {
  transform: scale(1.1);
  border: 3px solid rgba(65, 164, 240, 0.921);
  box-shadow: 10px 10px 0px 0 rgba(65, 164, 240, 0.921);
}

.project__card__2 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 20rem;
  height: 25rem;
  background-color: white;
  border: 3px solid black;
  border-radius: 3rem;
  transition: all 0.3s ease-in-out;
}

.project__card__2:hover {
  transform: scale(1.1);
  border: 3px solid rgba(65, 164, 240, 0.921);
  box-shadow: 10px 10px 0px 0 rgba(65, 164, 240, 0.921);
}

.project__card__3 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 20rem;
  height: 25rem;
  background-color: white;
  border: 3px solid black;
  border-radius: 3rem;
  transition: all 0.3s ease-in-out;
}

.project__card__3:hover {
  transform: scale(1.1);
  border: 3px solid rgba(65, 164, 240, 0.921);
  box-shadow: 10px 10px 0px 0 rgba(65, 164, 240, 0.921);
}
